/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, p, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  border: none;
}
